body {
  margin: 0;
  /* background: black; */
}

header {
  background-image: url('imagens/fundoApresentacao.png');
}

#apresentacao {
  height: 285px;
  padding-top: 22%;
}

h3 {
  border-style: solid;
  text-align: center;
}

#organic, #effacer {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  /* background-color: black;  */
  /* color: white; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#chained, #space {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  /* background-color: black;  */
  /* color: white; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#reactDiffuse {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
